<footer class="text-white pt-5 pb-3" style="background-color: #0a192f;">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <a href="index.html" class="d-flex align-items-center text-decoration-none mb-3">
                    <img src="/components/logopro.png" alt="Trading Insight" class="me-2" style="height: 40px; width: auto;">
                    <span class="fs-4 fw-bold text-white">Trading Insight</span>
                </a>
                <p class="text-white-50 small mb-4 pe-lg-5">
                    Nền tảng hỗ trợ trader Crypto tối ưu chi phí giao dịch thông qua cơ chế Hoàn phí (Backcom) minh bạch.
                </p>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <h6 class="text-white fw-bold text-uppercase mb-3">Về Chúng Tôi</h6>
                <ul class="list-unstyled text-white-50 small">
                    <li class="mb-2"><a href="thong-tin.html" class="text-white-50 text-decoration-none">Giới thiệu</a></li>
                    <li class="mb-2"><a href="doi-tac.html" class="text-white-50 text-decoration-none">Đối tác</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <h6 class="text-white fw-bold text-uppercase mb-3">Hỗ Trợ</h6>
                <ul class="list-unstyled text-white-50 small">
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Hướng dẫn</a></li>
                    <li class="mb-2"><a href="https://t.me/datnguyen_tis" class="text-white-50 text-decoration-none">Liên hệ Admin</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4">
                <h6 class="text-white fw-bold text-uppercase mb-3">Liên Hệ</h6>
                <ul class="list-unstyled text-white-50 small">
                    <li class="mb-3 d-flex align-items-start">
                        <i class="bi bi-chat-dots-fill text-orange me-2 mt-1"></i>
                        <div>
                            <span class="d-block text-white">Zalo Hỗ Trợ</span>
                            <a href="https://zalo.me/0777741021" target="_blank" class="text-white-50 text-decoration-none fw-bold">0373.136.890</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>